{% include 'admin/partials/header.twig' with {'page_title': 'Posts'} %}

<div class="wrap">
    {% include 'admin/partials/sidebar.twig' with {'active': 'posts'} %}

    <div class="content-area">
        <div class="page-heading">
            <h2 class="title">Posts</h2>
            <a href="/admin/posts/new" class="btn btn-primary">New Post</a>
        </div>

        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <div class="row">
                        <h3 class="title"><a href="/admin/posts/edit/{{ post.data.id }}">{{ post.data.title }}</a></h3>
                    </div>

                    <div class="row">
                        <div class="meta">
                            {% if post.data.status is same as 'published' %}
                                {% if post.data.published_at|date('Ymd') > "now"|date('Ymd') %}
                                    Scheduled {{ post.data.published_at|date('M jS, Y') }}
                                {% else %}
                                    Published {{ post.data.published_at|date('M jS, Y') }}
                                {% endif %}
                            {% else %}
                                {{ post.data.status }}
                            {% endif %}

                            &mdash; Updated {{ post.data.updated_at|date('M jS, Y') }}
                        </div>

                        <div class="stats">
                            {{ post.data.views ?? 0 }} views
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'admin/partials/footer.twig' %}
