{% include 'site/partials/header.twig' %}

<div class="posts">
    {% for post in posts %}
        <article class="post">
            <div class="wrap">
                <h2 class="title"><a href="/{{ post.data.slug }}">{{ post.data.title }}</a></h2>
                <div class="date"><a href="/{{ post.data.slug }}">{{ post.data.published_at | date('F jS, Y') }}</a></div>
                <div class="body">{{ post.data.html | raw }}</div>
            </div>
        </article>
    {% endfor %}
</div>

{% include 'site/partials/footer.twig' %}