<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page_title %}{{ page_title }} &mdash; {% endif %}{{ site_name }}</title>
    <link rel="stylesheet" href="{{ asset('/assets/shared/fa/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/site/css/style.css') }}">
    <script src="{{ asset('/assets/site/js/about.js') }}"></script>
</head>
<body>

<div class="page">
    <div class="header">
        <h1>
            <a href="/">{{ site_name }}</a>
            <a href="/about" class="about-btn">Who <i class="fas fa-question"></i></a>
        </h1>
    </div>