{% include 'admin/partials/header.twig' with {'page_title': 'Posts', 'is_posts': true } %}

<div class="wrap has-meta">
    {% include 'admin/partials/sidebar.twig' with {'active': 'posts'} %}
    {% include 'admin/partials/meta-sidebars/posts.twig' %}

    <div class="content-area content-area--posts">
        <div class="posts">
            <table class="posts-table">
                <thead>
                    <tr>
                        {% for k, col in post_type.table.columns %}
                            {% if k is same as 'title' %}
                                <th colspan="3">{{ col }}</th>
                            {% else %}
                                <th>{{ col }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr class="post" data-status="{{ post.data.status }}">
                            {% for k, col in post_type.table.columns %}
                                {% if k is same as 'title' %}
                                    <td colspan="3" style="min-width: 300px;">
                                        <a href="/admin/posts/edit/{{ post.data.id }}">
                                            {% if post.data.title is same as '' %}
                                                Untitled...
                                            {% else %}
                                                {{ post.data.title  }}
                                            {% endif %}
                                        </a>
                                    </td>
                                {% elseif k is same as 'status' %}
                                    <td style="width: 100px;" class="status">
                                        {% if post.data.status is same as 'published' %}
                                            <span>Published</span>
                                        {% elseif post.data.status is same as 'scheduled' %}
                                            <span>Scheduled</span>
                                        {% else %}
                                            <span>Draft</span>
                                        {% endif %}
                                    </td>
                                {% elseif k is same as 'created_at' %}
                                    <td style="width: 125px;">
                                        {{ post.data.created_at|date('M jS, Y') }}
                                    </td>
                                {% elseif k is same as 'published_at' %}
                                    <td style="width: 125px;">
                                        {% if post.data.published_at and (post.data.status is same as 'published' or post.data.status is same as 'scheduled')%}
                                            {{ post.data.published_at|date('M jS, Y') }}
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </td>
                                {% elseif k is same as 'updated_at' %}
                                    <td style="width: 125px;">
                                        {{ post.data.updated_at|date('M jS, Y') }}
                                    </td>
                                {% else %}
                                    <td style="width: 90px;">
                                        {{ post.data[k] }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'admin/partials/footer.twig' %}
