{% include 'partials/header.twig' %}

<div class="posts">
    {% for post in posts %}
        <article class="post">
            <div class="wrap">
                <h2 class="title"><a href="/{{ post.data.slug }}">{{ post.data.title }}</a></h2>
                <div class="date"><a href="/{{ post.data.slug }}">{{ post.data.published_at | date('F jS, Y') }}</a></div>
                <div class="body">{{ post.data.html | raw }}</div>
            </div>
        </article>
    {% endfor %}
</div>

{% if pagination.total_pages > 1 %}
<div class="pagination">
    <div class="previous">
        {% if pagination.prev_page %}
            <a class="btn" href="/page/{{ pagination.prev_page }}"><i class="fas fa-chevron-left"></i> Newer posts</a>
        {% else %}
            <span class="btn"><i class="fas fa-chevron-left"></i> Newer posts</span>
        {% endif %}
    </div>
    <div class="next">
        {% if pagination.next_page %}
            <a class="btn" href="/page/{{ pagination.next_page }}">Older posts <i class="fas fa-chevron-right"></i></a>
        {% else %}
            <span class="btn">Older posts <i class="fas fa-chevron-right"></i></span>
        {% endif %}
    </div>
    </div>
{% endif %}

{% include 'partials/footer.twig' %}