<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page_title }} &mdash; {{ site_name }}</title>
    <link rel="stylesheet" href="/assets/shared/fa/css/all.min.css">
    <link rel="stylesheet" href="/assets/admin/css/style.css">
    {% for css in injected_css %}
        <link rel="stylesheet" href="{{ asset(css) }}">
    {% endfor %}

    <script src="{{ asset('/assets/admin/js/utils.js') }}"></script>

    {% if is_editor %}
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/path-deps.js"></script>
        <script src="{{ asset('/assets/admin/js/editor.js') }}"></script>

        <script>
          htmx.on('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token() }}';
          })
        </script>
    {% endif %}

    {% if is_settings %}
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="{{ asset('/assets/admin/js/settings.js') }}"></script>

        <script>
          htmx.on('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token() }}';
          })
        </script>
    {% endif %}

    {% for js in injected_js %}
        <script type="module" src="{{ asset(js) }}"></script>
    {% endfor %}
</head>
<body>
