<div class="block-options">
    <button class="toggle-block-options">
        <i class="fas fa-cog"></i>
    </button>
    <div class="block-options-menu">
        {% for opt in block.options %}
            <button class="{% if opt.active %}active{% endif %}"
                    hx-post="{{ opt.url }}"
                    hx-swap="{{ opt.swap }}"
                    hx-target="{{ opt.target }}"><i class="{{ opt.icon }}"></i> {{ opt.name }}</button>
        {% endfor %}
        {% if not loop.first %}
            <button hx-post="/admin/api/post/{{ post.data.id }}/blocks/{{ block.id }}/move/up"
                    hx-swap="outerHTML"
                    hx-target=".blocks"><i class="fas fa-chevron-up"></i> Move up</button>
        {% endif %}
        {%if not loop.last %}
            <button hx-post="/admin/api/post/{{ post.data.id }}/blocks/{{ block.id }}/move/down"
                    hx-swap="outerHTML"
                    hx-target=".blocks"><i class="fas fa-chevron-down"></i> Move down</button>
        {% endif %}
        <button hx-delete="/admin/api/post/{{ post.data.id }}/blocks/{{ block.id }}"
                hx-swap="outerHTML"
                hx-target=".blocks"><i class="fas fa-trash-alt"></i> Delete</button>
    </div>
</div>
